.container{
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

.btn{
    background-color: lightblue;
    color: white;
    border-radius: 2rem;
    border: none;
    padding-left: .9rem;
    padding-right: .9rem;
    padding-bottom: .4rem;
    margin: 0;
    transition: .5s;
}

.btn:hover{
    color: lightblue;
    background-color: purple;
    box-shadow: 0 0 1rem lightblue, 0 0 4rem lightblue, 0 0 8rem lightblue;
}

.input{
    border-radius: 2rem;
    width: 18rem;
    padding-left: 1rem;
    margin-right: .6rem;
    border: 3px solid lightblue;
}